.container{
    height: 100vh;
    font-family: "Poppins";
    overflow: hidden;
}
.navbar-container{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    margin: 10px;
}
.navbar-container div img{
    padding: 20px;
    margin-top: 5px;
}
.grow-list{
    justify-content: flex-start;
    flex: 1;
}
.list{
    display: flex;   
    list-style-type: none;
    left: 0;
    justify-content: flex-start;
}
.list-item{
        
    padding: 20px;
    color: #d6c7c7;
}
.list-item:hover{
    color: #1f1f1f;
}
.button-group{
    
    padding: 20px;
    margin-top: 5px;
    top: 60px;
}
.nav-button{
    background-color:#3944F7 ;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.banner-container{
    width: 90vh;
    margin: 0 170px;
}
.heading-text{
    position: relative;
    color: #1c217e;
    font-size: 85px;
}
.heading-text span{
    color: #3944F7;
}
.description{
    padding-left: 20px;
}

.banner-container div >img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn{
    margin: 20px;
}